.button {
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  padding: 15px 20px;
  transition: opacity 0.4s;

  &:hover {
    opacity: 0.7;
  }
}

.button-link {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: color .4s, transform .2s;

  &:hover {
    color: #ee0021;
    transform: scale(1.1);
  }

  &.active {
    color: #ee0021;
    transform: scale(1.1);
  }
}