.app-header {
  width: 100%;
  position: fixed;
  z-index: 2;

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 68px;

    .logo-container {
      margin-top: 10px;
      width: 100%;
      max-width: 92.5px;
      padding-left: 4%;
  
      img {
        width: 100%;
      }
  
    }
  
    .menu-items {
      display: flex;
      list-style: none;
      flex: 1 0 100px;
      flex-wrap: wrap;
  
      .item {
        margin-left: 20px;
  
        &:first-child {
          margin: 0;
        }
      }
    }
  
    .user-menu {
      display: flex;
      justify-content: flex-end;
      padding-right: 4%;
      align-items: center;
  
      .search-container {
        border-width: 1px;
        border-radius: 3px;
        border-style: solid;
        color: #fff;
        transition: background-color 0.2s, border-color 0.2s;

        button {
          margin: 0px 5px;
        }

        .input-search {
          padding: 10px 0px;
          background: transparent;
          border-style: none;
          font-size: 14px;
          color: #fff;
          width: 100%;
          transition: max-width 0.2s;

        }
      }

      button {
        background-color: transparent;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        margin: 0 10px;
        border: none;

        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
      }

    }
  }

}

.profile-box {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  align-items: center;

  img {
    margin-right: 7px;
  }

  svg {
    margin-bottom: 6px;
  }
}