.trending-container {
  display: flex;
  height: 720px;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
}

.info-trending {
  display: flex;
  flex-direction: row;
  height: 400px;
  position: absolute;
  left: 0;
  padding: 0 4%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px 20px 20px 0px;
  border-width: 3px 3px 3px 0px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.6);
  box-shadow: 2px 5px 5px 3px rgba(0, 0, 0, 0.1);

  h3 {
    color: #fff;
    width: 600px;
  }

}