@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

$background-color: #141414;
$regular-font-color: #e5e5e5;
$link-hover-color: #b3b3b3;
$selected-item-font-color: #fff;
$green-font-color: #46d369;

body {
  margin: 0;
  background-color: $background-color;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

a {
  color: $regular-font-color;
  text-decoration: none;
  transition: color .4s;
  font-size: 14px;

  &:hover {
    color: $link-hover-color;
  }
}

h1 {
  font-family: 'Abril Fatface', cursive;
  color: $selected-item-font-color;
  font-size: 40px;
  margin: 0;
}

.main-spinner-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-loading-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin: 40px 0px;
}